
table.table tr td.relative {
    position: relative;
}

img.my-image {
    width: 150px;
}

div.real {
    display: none;
    position: absolute;
    left: 87%;
    top: 0;
}

table.table#tcars td {
    vertical-align: middle;
    text-align: center;
}
.borders {
    border: 1px #ddd solid;
    border-radius: 5px;
}

img.my-image:hover + div.real {
    display: block;
}

div.real img {
    width: 0;
}

img.my-image:hover + div.real img {
    width: 280px;
}