.car-image-shop {
    height: 150px;
    width: 150px;
}

.single-car-image {
    height: 300px;
    width: 350px;
}

.car-stats {
    font-size: 2em;
}

.big-text {
    font-size: 2.5em;
}

.white-text {
    color: white;
}

.panel-body .table tr th, .panel-body .table tr td, .panel-body .table tr td * {
    text-align: center;
    vertical-align: middle;
}
