extends includes/layout
block main-content
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="/") TA Racer
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/races/") Races
                        li
                            a(href="/users/all") All users
    br
    br
    br
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                p= message

    footer
        p.text-center
            | &copy; Telerik Academy 2016