extends includes/layout
block main-content
    div(class="container")
        div(class='row')
            div(class="col-md-6 col-md-offset-3")
                form(class="form-signin" action='/api/users/login', method="post")
                    h2 Lets get closer to races - log in!
                    br
                    input(id="username" name="username" pattern='(^[A-Za-z]{1,})[A-Za-z0-9._-]{5,}' placeholder="Username" required="required" autofocus="" class="form-control")
                    br
                    input(id="password" name="password" pattern='*{6,}' placeholder="Password"  required="required" class="form-control" type="password")
                    br
                    button(type="submit" class="btn btn-lg btn-primary btn-block") Sign in
                    br
