extends includes/layout
block main-content
    div(class="container")
        div(class='row')
            div(class="col-md-12")
                h3 Create race
                form(class="form-signin" action='/races/add', method="post")
                    br
                    select(class="form-control" id="map" name="map")
                        for map in maps
                            option(value=map.name) #{map.name}
                    br
                    br
                    select(class="form-control" id="car" name="car")
                        for car in cars
                            option(value=car) #{car}
                    br
                    button(type="submit" class="btn btn-lg btn-primary btn-block") Sign in
                    br