extends includes/layout
block main-content
    div(class="container")
        div(class='row')
            div(class="col-md-6 col-md-offset-3")
                form(class="form-signin" action='/api/users/register', method="post")
                    h2 Registration is good, failing is not!
                    br
                    input(id="username" name="username" placeholder="Username" required="required" autofocus="" class="form-control")
                    br
                    input(id="password" name="password" placeholder="Password" required="required" class="form-control" type="password")
                    br
                    button(type="submit" class="btn btn-lg btn-primary btn-block") Sign in
                    br
