doctype html
html
    head
        title Telerik-Racer
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://bootswatch.com/spacelab/bootstrap.min.css')
        // link(rel='stylesheet', href='http://kendo.cdn.telerik.com/2014.1.318/styles/kendo.common.min.css')
        // link(rel='stylesheet', href='http://kendo.cdn.telerik.com/2014.1.318/styles/kendo.default.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        header
            nav.navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") TA Racer
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href="/races/all") Races
                            li
                                a(href="/shop/cars") Cars
                            if user && (user.role === 'administrator' || user.role === 'moderator')
                                li
                                    a(href="#") Maps
                            if user && user.role === 'administrator'
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        = 'Admin Panel'
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#') Users
                                        li
                                            a(href='#') Remove Map
                        ul.nav.navbar-nav.navbar-right
                            if !user
                                li
                                    a(href="api/users/register") Register
                                li
                                    a(href="api/users/login") Login
                            else
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        = user.username
                                        span.glyphicon.glyphicon-user.pull-left &nbsp;
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='/profile') Profile
                                        li
                                            a(href='/profile/cars') Cars
                                        li.divider(role='separator')
                                        li
                                            form.navbar-form.navbar-left(action='api/users/logout', method='post')
                                                button(type='submit') Logout &nbsp;&nbsp;&nbsp;
                                                    span.glyphicon.glyphicon-off

        br
        br
        br

        block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2016

        include scripts
