doctype html
html
    head
        title Telerik-Racer
        link(rel='stylesheet', href='//cdn.jsdelivr.net/alertifyjs/1.6.0/css/alertify.min.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/default.min.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/semantic.min.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/bootstrap.min.css')
        link(rel='stylesheet', href='https://bootswatch.com/spacelab/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            nav.navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href="/") TA Racer
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    = 'Races'
                                    span.caret
                                ul.dropdown-menu
                                    if user
                                        li
                                            a(href='/races/add') Add Race
                                    li
                                        a(href='/races/all') All Races
                            li
                                a(href="/shop/cars") Cars
                            if user && (user.role === 'administrator' || user.role === 'moderator')
                                li
                                    a(href="/maps") Maps
                            if user && user.role === 'administrator'
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        = 'Admin Panel'
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='/api/admin/users') Users
                                        li
                                            a(href='/maps/add') Add map
                        ul.nav.navbar-nav.navbar-right
                            if !user
                                li
                                    a(href="/api/users/register") Register
                                li
                                    a(href="/api/users/login") Login
                            else
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        = user.username
                                        span.caret
                                        span.glyphicon.glyphicon-user.pull-left &nbsp;
                                    ul.dropdown-menu
                                        li
                                            a(href='/profile') Profile
                                        li
                                            a(href='/profile/cars') Cars
                                        li
                                            a(href='/profile/races') Crated races
                                        li
                                            a(href='/profile/races/in') Races includes you
                                        li.divider(role='separator')
                                        li
                                            form.navbar-form.navbar-left(action='/api/users/logout', method='post')
                                                button(type='submit') Logout &nbsp;&nbsp;&nbsp;
                                                    span.glyphicon.glyphicon-off

        br
        br
        br

        block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2016

        include scripts
